<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>

      
	  <div id="countdown-wrap">
	      	<div id="intro-countdown">Run with us in:</div>
        	<div id="countdown"><!-- end #countdown --></div>
            <div id="countdown-units"><img src="../images/clock-units.png" width="199" height="15" alt="clock units"></div><!-- end #countdown-units-->
      </div><!-- end #countdown-wrap-->
    
	  <script>
				jQuery(document).ready(function(){
                    jQuery("#countdown").jCountdown({
                        timeText:"2016/08/21 08:00:00:00",
                        timeZone:-8,
                        style:"slide",
                        color:"black",
                        width:200,
                        textGroupSpace:15,
                        textSpace:0,
                        reflection:false,
                        reflectionOpacity:0,
                        reflectionBlur:0,
                        dayTextNumber:3,
                        displayDay:true,
                        displayHour:true,
                        displayMinute:true,
                        displaySecond:false,
                        displayLabel:false,
                        onFinish:function(){
                            alert("finish");
                        }
                    });
                });
 	</script>



</body>
</html>
